:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-blue: #0406B0;
  --color-white: #FFFBF4;
  --color-grey: #51504C;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--color-blue);
  list-style: none;
}
.btn-primary {
  width: fit-content;
  padding: 1rem 1.5rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 12px;
  border: none;
  align-self: flex-end;
}
.h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  color: var(--color-blue);
}
.h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: var(--color-blue);
}
section {
  padding: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.price-calculator {
  min-height: 100vh;
  background-color: var(--color-blue);
}
.price-calculator-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem;
  position: relative;
}
.pricing {
  width: 100%;
}
.pricing-total {
  position: sticky;
  top: 48px;
}
.pricing-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}
.pricing-card {
  padding: 32px;
  background-color: var(--color-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
  border: none;
}
.pricing-options-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: .5rem;
}
.pricing-options-wrapper label{
  width: calc(50% - 20px);
  color: var(--color-blue);
  font-weight: 400;
}
.pricing-options-wrapper input {
  margin-right: .5rem;
}
.pricing-range-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.pricing-range-wrapper input{
  width: 100%;
}
.price-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.txt-price-total {
  font-size: 64px;
  color: var(--color-blue);
  line-height: 140%;
  font-weight: 500;
  letter-spacing: -4%;
}
.txt-small {
  font-size: .75rem;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.price-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.price-details-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-blue);
}
.price-details-item:first-child {
  padding-top: 0;
}
.price-details-item:last-child {
  border: none;
  padding-bottom: 0;
}


input[type="range"] {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  width: 100%;
  height: 8px;
  background: #ddd; /* Track color */
  outline: none; /* Remove the outline */
  border-radius: 5px;
  transition: background 0.3s ease;
}

input[type="range"]:hover {
  background: #ccc; /* Track color on hover */
}

/* WebKit browsers (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance */
  width: 20px;
  height: 20px;
  background: var(--color-blue); /* Thumb color */
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Cursor when hovering over the thumb */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Add shadow for some effect */
  transition: background 0.3s ease;
}

input[type="range"]::-moz-range-track {
  background: var(--color-blue); /* Track color */
  height: 8px;
  border-radius: 5px;
}

@media(max-width: 768px) {
  section{
    padding: 2rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .pricing-card {
    padding: 1.5rem;
    gap: 1.5rem;
  }
  .pricing-options-wrapper {
    gap: .75rem;
  }
  .pricing-options-wrapper label {
    width: 100%;
  }
  .txt-price-total {
    font-size: 2rem;
  }
  .txt-total-title {
    font-size: .75rem;
  }


}
@media(max-width: 680px) {
  .price-calculator-cont {
    flex-direction: column;
    border: 1rem;
  }
  .price-total {
    flex-direction: row;
    justify-content: space-between;
  }
  .pricing-total {
    top: auto;
    bottom: 24px;
  }
  .pricing-total .pricing-card {
    box-shadow: 0px 64px var(--color-blue);
    border: 1px solid var(--color-blue);
    padding-top: 1rem;
  }
  .price-details-item {
    padding: .5rem 0;
  }
}